<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= book.title %></div>
  <div>published Year: </div>
  <div><%= book.publishedYear %></div>
  <div>publisher: </div>
  <div><%= book.publisher %></div>




  <!-- start cast list -->
  <div>Author:</div>
  <ul>
    <%= book.author.name %>
  </ul>
  <!-- end cast list -->
</section>  
<%- include('../partials/footer') %>
