<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>published<br>Year</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.publishedYear %></td>
        <td><a href="/books/<%= m._id %>">DETAILS</a></td>
        <td><a href="/users/checkout/<%= m._id %>">Checkout</a></td>

      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>