<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project 2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a href="/books" <%- title === 'All Books' ? 'class="active"' : '' %>>ALL BOOKS</a>
        <% if (user) { %>
          <a href="/authors/new"	<%- title === 'Add author' ? 'class="active"' : '' %>>
            ADD Author</a>
            <a href="/users/show"	<%- title === 'user details' ? 'class="active"' : '' %>>
              show user detail</a>
            <a href="/books/new" <%- title === 'Add Book' ? 'class="active"' : '' %>>ADD BOOK</a>
          <a class="nav-link" href="/logout">Log Out</a>
          <% } else { %>
            <a class="nav-link" href="/auth/google">Log In</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
    <h1><%= title %></h1>