<%- include('../partials/header') %>


<h1>booksRead</h1>


<section id="user-page">
  <div>Name: <%= user.name %></div>
 
  <div>Email: <%= user.email %> </div>




  <table id="booksRead">
    <thead>
      <tr>
        <th>Title</th>
      
        <th></th>
      </tr>
    </thead>
    <tbody>
     
      <% if (booksRead) { %>
        <% booksRead.forEach(function(r) { %>
          <tr>
            <td><%= r.title %></td>


    
    
          </tr>
          <% }); %><% } else { %>
            <section id="user-page">
              <div>Name: </div>
              <div><%= user.name %></div>
              <div>Email: </div>
              <div><%= user.email %></div>
           
      <% } %>
     
      
      </tbody>
    </table>




 
</form>

<%- include('../partials/footer') %>